@charset "UTF-8";

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: royalblue;
	text-align: center;
	letter-spacing: 1.5px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 16px;
	color: white;
}


/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: darkgreen;
}


/* MAIN */
main {
	padding-top: 30vh;
	font-size: 2em;
}

#number {
	border: none;
	border-bottom: 1px black solid;
	background-color: transparent;
	font-size: 1em;
	color: white;
}

#number::placeholder {
	opacity: 0.5;
	font-style: italic;
	color: white;
}


/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1.5vh 0;
	background-color: indianred;
	font-size: 1.3em;
}

.more-link {
	color: black;
}

.more-link:active {
	color: cyan !important;
}

.more-link:focus {
	color: lime;
}

.more-link:hover {
	color: yellow;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding-top: 1vh;
	font-size: 1.5em;
}